<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Event</title>
     <link rel="stylesheet" href="{{url_for('static',filename='css/autoevent.css')}}">
</head>
<body>
<div class="details">
                <div class="recentOrders">
                    <div class="cardHeader">
                        <h2>AUTOMOBILE EVENTS</h2>
                      <!--  <a href="#" class="btn">View All</a>-->
                    </div>

                    <table>
                        <thead>
                            <tr>
                                <td>CLUBS</td>
                                <td>LINK FOR THE EVENT</td>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>Automobile Association</td>
                                <td><a href="\index.html" style="text-decoration: none;"> CLICK TO REGISTER</a></td>
                                <!--<td>---</td>
                                <td><span class="status delivered">Available</span></td>-->
                            </tr>
                        <tr>
                                <td>Automobile CC</td>
                                <td>CLICK TO REGISTER</td>
                                <!--<td>---</td>
                                <td><span class="status delivered">Available</span></td>-->
                            </tr>
                        <tr>
                                <td>CCC</td>
                                <td>CLICK TO REGISTER</td>
                                <!--<td>---</td>
                                <td><span class="status delivered">Available</span></td>-->
                            </tr>
                        <tr>
                                <td>CCC</td>
                                <td>CLICK TO REGISTER</td>
                                <!--<td>---</td>
                                <td><span class="status delivered">Available</span></td>-->
                            </tr>
                        



                        </tbody>
                    </table>
                </div>
</div>
</body>
</html>