<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <link rel="stylesheet" href="{{url_for('static',filename='css/blocks.css')}}">
    <title>Blocks</title>
</head>
<body>
<div class="details">
                <div class="recentOrders">
                    <div class="cardHeader">
                        <h2>BLOCK NAMES</h2>
                      <!--  <a href="#" class="btn">View All</a>-->
                    </div>

                    <table>
                        <thead>
                            <tr>
                                <td>DEPARTMENTS</td>
                                <td>LOCATION</td>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>CIVIL BLOCK</td>
                                <td>GATE NO 5</td>
                                <!--<td>---</td>
                                <td><span class="status delivered">Available</span></td>-->
                            </tr>

                            <tr>
                                <td>MECHANICAL BLOCK</td>
                                <td>GATE NO 5</td>
                                <!--<td>---</td>
                                <td><span class="status delivered">Availabe</span></td>-->
                            </tr>

                            <tr>
                                <td>MECHATRONICS BLOCK</td>
                                <td>GATE NO 5</td>
                                <!--<td>31 Aug 2023</td>
                                <td><span class="status return">Booked</span></td>-->
                            </tr>



                            <tr>
                                <td>AUTOMOBILE BLOCK</td>
                                <td>GATE NO 5</td>
                                <!--<td>---</td>
                                <td><span class="status delivered">Availabe</span></td>-->
                            </tr>



                            <tr>
                                <td>CHEMICAL BLOCK</td>
                                <td>GATE NO 9</td>
                                <!--<td>1 Sep 2023</td>
                                <td><span class="status return">Booked</span></td>-->
                            </tr>
                        <tr>
                                <td>FOODTECHNOLOGY BLOCK</td>
                                <td>GATE NO 9</td>
                                <!--<td>---</td>
                                <td><span class="status delivered">Availabe</span></td>-->
                            </tr>
                        <tr>
                                <td>ELECTRICAL AND ELECTRONICS BLOCK</td>
                                <td>GATE NO 9</td>
                                <!--<td>---</td>
                                <td><span class="status delivered">Availabe</span></td>-->
                            </tr>
                        <tr>
                                <td>ELECTRONIC AND INSTRUMENTATION BLOCK</td>
                                <td>GATE NO 9</td>
                                <!--<td>---</td>
                                <td><span class="status delivered">Availabe</span></td>-->
                            </tr>
                        <tr>
                                <td>ELECTRICAL AND COMMUNICATION BLOCK</td>
                                <td>GATE NO 9</td>
                                <!--<td>---</td>
                                <td><span class="status delivered">Availabe</span></td>-->
                            </tr>
                        <tr>
                                <td>COMPUTER SCIENCE BLOCK</td>
                                <td>GATE NO 9</td>
                                <!--<td>---</td>
                                <td><span class="status delivered">Availabe</span></td>-->
                            </tr>
                        <tr>
                                <td>INFORMATION TECHNOLOGY BLOCK</td>
                                <td>GATE NO 9</td>
                                <!--<td>---</td>
                                <td><span class="status delivered">Availabe</span></td>-->
                            </tr>
                        <tr>
                                <td>COMPUTER SCIENCE AND DESIGN BLOCK</td>
                                <td>GATE NO 9</td>
                                <!--<td>---</td>
                                <td><span class="status delivered">Availabe</span></td>-->
                            </tr>
                        <tr>
                                <td>AIDS $ AIML BLOCK</td>
                                <td>GATE NO 9</td>
                                <!--<td>---</td>
                                <td><span class="status delivered">Availabe</span></td>-->
                            </tr>


                        </tbody>
                    </table>
                </div>
</div>
</body>
</html>