<!DOCTYPE html>
<head>
    <title>Convention Center</title>
    <link href="{{url_for('static',filename='css/halls.css')}}" type="text/css" rel="stylesheet"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!-- heading -->
    <h2 class="heading">Convention Center</h2>
    <img src="static/css/cc.jpg">
  <!-- cards -->
    <div class="container">

      <!-- single card -->
      <div class="card">
        <!-- card title -->
        <div class="card-title">
          <p>About</p>
          <button class="card-btn">
            <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>          </button>
        </div>
        <!-- card text -->
        <div class="card-text">
          <p>The Kongu Convention Centre located at Erode in Tamil Nadu, India consists of a multipurpose hall which is one of the largest in India. The building has the facilities for Conference halls , Seminar halls , Training centre , Guest rooms and VIP rooms , Offices , High-tech Audio Visual facilities for Global conferencing , Cafeteria , Offices etc. The construction completed in July 2010 with a built up area of 18,600 sq metres.</p>
        </div>
      </div>
      <!-- end single card -->
      
            <!-- single card -->
      
      <!-- end single card -->
      
            <!-- single card -->
      <div class="card">
        <!-- card title -->
        <div class="card-title">
          <p>Capacity</p>
          <button class="card-btn">
            <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>          </button>
        </div>
        <!-- card text -->
        <div class="card-text">
          <p>The Kongu Convention Centre have a massive capacity of 4500 persons.</p>
        </div>
      </div>
      <!-- end single card -->
      
    </div>


    
    <script src="{{url_for('static',filename='./halls.js')}}" defer></script>
</body></html>