<!DOCTYPE html>
<head>
    <title>CK Prahalad Seminar Hall</title>
    <link href="{{url_for('static',filename='css/halls.css')}}" type="text/css" rel="stylesheet"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!-- heading -->
    <h2 class="heading">CK Prahalad Seminar Hall</h2>
    <img src="static/css/mba.jpg">
  <!-- cards -->
    <div class="container">

      <!-- single card -->
      <div class="card">
        <!-- card title -->
        <div class="card-title">
          <p>About</p>
          <button class="card-btn">
            <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>          </button>
        </div>
        <!-- card text -->
        <div class="card-text">
          <p>The CK Prahalad Seminar Hall is located at Kongu engineering college, Perundurai, Erode in Tamil Nadu, India. It is situated in ground floor of MBA Seminar. This hall is used for conducting guest lectures, inaugural functions etc.</p>
        </div>
      </div>
      <!-- end single card -->
      
            <!-- single card -->
      
      <!-- end single card -->
      
            <!-- single card -->
      <div class="card">
        <!-- card title -->
        <div class="card-title">
          <p>Capacity</p>
          <button class="card-btn">
            <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>          </button>
        </div>
        <!-- card text -->
        <div class="card-text">
          <p>The CK Prahalad Seminar Hall have a massive capacity of 450 persons.</p>
        </div>
      </div>
      <!-- end single card -->
      
    </div>


    
    <script src="{{url_for('static',filename='./halls.js')}}" defer></script>
</body></html>