<!DOCTYPE html>
<html>
    <head>
        <title>Contacts...</title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/contact.css')}}">
    </head>
    <body>
        <h1> Contact Us</h1>
            <h2>Our teams are here to help</h2>
            
            <table class="container">
                <thead>
                    <tr>
                        <th><h1>Name</h1></th>
                        <th><h1>Address</h1></th>
                        <th><h1>Phone</h1></th>
                        <th><h1>Email</h1></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Ponranjith L</td>
                        <td>III CSE, KEC</td>
                        <td>+91 97515 96636</td>
                        <td>ponranjithl.21cse@kongu.edu</td>
                    </tr>
                    <tr>
                        <td>Pratosh S</td>
                        <td>III CSE, KEC</td>
                        <td>+91 97904 41657</td>
                        <td>pratoshs.21cse@kongu.edu</td>
                    </tr>
                    <tr>
                        <td>Presanna Wenkatesan K</td>
                        <td>III CSE, KEC</td>
                        <td>+91 88389 77595</td>
                        <td>presannawenkatesank.21cse@kongu.edu</td>
                    </tr>
                    <tr>
                        <td>Rajdeepak S</td>
                        <td>III CSE, KEC</td>
                        <td>+91 95668 37023</td>
                        <td>rajdeepaks.21cse@kongu.edu</td>
                    </tr>
                    <tr>
                        <td>Ramana K</td>
                        <td>III CSE, KEC</td>
                        <td>+91 96290 94454</td>
                        <td>ramanak.21cse@kongu.edu</td>
                    </tr>
                    <tr>
                        <td>Sarankanth K</td>
                        <td>III CSE, KEC</td>
                        <td>+91 63838 29682</td>
                        <td>sarankanthk.21cse@kongu.edu</td>
                    </tr>
                    <tr>
                        <td>Sharan R</td>
                        <td>III CSE, KEC</td>
                        <td>+91 77088 43181</td>
                        <td>sharanr.21cse@kongu.edu</td>
                    </tr>
    
                </tbody>
            </table>
    </body>
</html>