<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/Eventreg.css')}}">
    <title>Student Registration site</title>
</head>

<body>
    <div class="mydiv">
        <h1>STUDENT REGISTRATION</h1>
    </div>
    <div class="cardBox">

        <div class="card">

            <div>
                <!--<div class="numbers">14</div>-->
                <div class="cardName">CIVIL DEPARTMENT EVENTS</div>
            </div>
            <a href="civilevent.html">
                <div class="iconBx">

                    <ion-icon name="business-outline"></ion-icon>
                </div>
            </a>

        </div>

        <div class="card">
            <div>
                <div class="cardName">MECH DEPARTMENT EVENTS</div>
            </div>
            <a href="mechevent.html">
                <div class="iconBx">
                    <ion-icon name="business-outline"></ion-icon>
                </div>
            </a>
        </div>

        <div class="card">
            <div>

                <div class="cardName">MHTRS DEPARTMENT EVENTS</div>
            </div>
            <a href="mhtrsevent.html">
                <div class="iconBx">

                    <ion-icon name="business-outline"></ion-icon>
                </div>
            </a>
        </div>
        <div class="card">
            <div>

                <div class="cardName">AUTOMOBILE DEPARTMENT EVENTS</div>
            </div>
            <a href="autoevent.html">
                <div class="iconBx">
                    <ion-icon name="business-outline"></ion-icon>
                </div>
            </a>
        </div>
        <div class="card">
            <div>
                <div class="cardName">CHEMICAL DEPARTMENT EVENTS</div>
            </div>
            <a href="chemicalevent.html">
                <div class="iconBx">
                    <ion-icon name="business-outline"></ion-icon>
                </div>
            </a>
        </div>
        <div class="card">
            <div>

                <div class="cardName">FT DEPARTMENT EVENTS</div>
            </div>
            <a href="ftevent.html">
                <div class="iconBx">
                    <ion-icon name="business-outline"></ion-icon>
                </div>
            </a>
        </div>
        <div class="card">
            <div>
                <div class="cardName">EEE DEPARTMENT EVENTS</div>
            </div>
            <a href="eeeevent.html">
                <div class="iconBx">
                    <ion-icon name="business-outline"></ion-icon>
                </div>
            </a>
        </div>
        <div class="card">
            <div>
                <div class="cardName">EIE DEPARTMENT EVENTS</div>
            </div>
            <a href="eieevent.html">
                <div class="iconBx">
                    <ion-icon name="business-outline"></ion-icon>
                </div>
            </a>
        </div>
        <div class="card">
            <div>

                <div class="cardName">ECE DEPARTMENT EVENTS</div>
            </div>
            <a href="eceevent.html">
                <div class="iconBx">
                    <ion-icon name="business-outline"></ion-icon>
                </div>
            </a>
        </div>
        <div class="card">
            <div>
                <div class="cardName">CSE DEPARTMENT EVENTS</div>
            </div>
            <a href="cseevent.html">
                <div class="iconBx">
                    <ion-icon name="business-outline"></ion-icon>
                </div>
            </a>
        </div>
        <div class="card">
            <div>
                <div class="cardName">IT DEPARTMENT EVENTS</div>
            </div>
            <a href="itevent.html">
                <div class="iconBx">
                    <ion-icon name="business-outline"></ion-icon>
                </div>
            </a>
        </div>
        <div class="card">
            <div>
                <div class="cardName">CSD DEPARTMENT EVENTS</div>
            </div>
            <a href="csdevent.html">
                <div class="iconBx">
                    <ion-icon name="business-outline"></ion-icon>
                </div>
            </a>
        </div>
        <div class="card">
            <div>
                <div class="cardName">AIDS DEPARTMENT EVENTS</div>
            </div>
            <a href="aidsevent.html">
                <div class="iconBx">
                    <ion-icon name="business-outline"></ion-icon>
                </div>
            </a>
        </div>
        <div class="card">
            <div>
                <div class="cardName">AIML DEPARTMENT EVENTS</div>
            </div>
            <a href="aimlevent.html">
                <div class="iconBx">
                    <ion-icon name="business-outline"></ion-icon>
                </div>
            </a>
        </div>

    </div>
    <!-- =========== Scripts =========  -->
    <script src="main.js"></script>

    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>