<!DOCTYPE html>
<html>
    <head>
        <title>KEC Campus EventPro</title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/fp.css')}}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>
    <body>

        <h2>Welcome to KEC Campus Event Pro</h2>
        <div class="container" id="container">
            <div class="form-container sign-up-container">
                
            </div>
            <div class="form-container sign-in-container">
                <form action="#">
                    <h1>Hello! Admin</h1>
                    
                    <p>Login to access your admin account</p>
                    
                   
                    <button><a href="FrontLogin.html" style="color:whitesmoke;">Sign In</a></button>
                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    
                    <div class="overlay-panel overlay-right">
                        <h1>Hello! User</h1>
                        <p>Login and explore our website and register the exciting events...</p>
                        <button class="ghost"><a href="UserFrontLogin.html" style="color:whitesmoke;">Sign In</a></button>
                    </div>
                </div>
            </div>
        </div>
        
        <footer>
            <p>
                <i class="fa fa-info-circle" aria-hidden="true"></i>
                    This is the official website of KEC Campus Event Pro!!!
            </p>
        </footer>
    </body>
</html>