<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/halls1.css')}}">
    <title>Halls booking</title>
</head>

<body>
    <div class="mydiv">
        <h1>LIST OF DEPARTMENTS & HALLS</h1>
    </div>
    <div class="cardBox">

        <div class="card">

            <div>
                <!--<div class="numbers">14</div>-->
                <div class="cardName">CIVIL DEPARTMENT</div>
            </div>
            <a href="civilblock.html">
                <div class="iconBx">

                    <ion-icon name="business-outline"></ion-icon>
                </div>
            </a>

        </div>

        <div class="card">
            <div>
                <div class="cardName">MECH DEPARTMENT</div>
            </div>
            <a href="mechblock.html">
                <div class="iconBx">
                    <ion-icon name="business-outline"></ion-icon>
                </div>
            </a>
        </div>

        <div class="card">
            <div>

                <div class="cardName">MHTRS DEPARTMENT</div>
            </div>
            <a href="mhtrsblock.html">
                <div class="iconBx">

                    <ion-icon name="business-outline"></ion-icon>
                </div>
            </a>
        </div>
        <div class="card">
            <div>

                <div class="cardName">AUTOMOBILE DEPARTMENT</div>
            </div>
            <a href="automobileblock.html">
                <div class="iconBx">
                    <ion-icon name="business-outline"></ion-icon>
                </div>
            </a>
        </div>
        <div class="card">
            <div>
                <div class="cardName">CHEMICAL DEPARTMENT</div>
            </div>
            <a href="chemicalblock.html">
                <div class="iconBx">
                    <ion-icon name="business-outline"></ion-icon>
                </div>
            </a>
        </div>
        <div class="card">
            <div>

                <div class="cardName">FT DEPARTMENT</div>
            </div>
            <a href="ftblock.html">
                <div class="iconBx">
                    <ion-icon name="business-outline"></ion-icon>
                </div>
            </a>
        </div>
        <div class="card">
            <div>
                <div class="cardName">EEE DEPARTMENT</div>
            </div>
            <a href="eeeblock.html">
                <div class="iconBx">
                    <ion-icon name="business-outline"></ion-icon>
                </div>
            </a>
        </div>
        <div class="card">
            <div>
                <div class="cardName">EIE DEPARTMENT</div>
            </div>
            <a href="eieblock.html">
                <div class="iconBx">
                    <ion-icon name="business-outline"></ion-icon>
                </div>
            </a>
        </div>
        <div class="card">
            <div>

                <div class="cardName">ECE DEPARTMENT</div>
            </div>
            <a href="eceblock.html">
                <div class="iconBx">
                    <ion-icon name="business-outline"></ion-icon>
                </div>
            </a>
        </div>
        <div class="card">
            <div>
                <div class="cardName">CSE DEPARTMENT</div>
            </div>
            <a href="cseblock.html">
                <div class="iconBx">
                    <ion-icon name="business-outline"></ion-icon>
                </div>
            </a>
        </div>
        <div class="card">
            <div>
                <div class="cardName">IT DEPARTMENT</div>
            </div>
            <a href="itblock.html">
                <div class="iconBx">
                    <ion-icon name="business-outline"></ion-icon>
                </div>
            </a>
        </div>
        <div class="card">
            <div>
                <div class="cardName">CSD DEPARTMENT</div>
            </div>
            <a href="csdblock.html">
                <div class="iconBx">
                    <ion-icon name="business-outline"></ion-icon>
                </div>
            </a>
        </div>
        <div class="card">
            <div>
                <div class="cardName">AIDS DEPARTMENT</div>
            </div>
            <a href="aidsblock.html">
                <div class="iconBx">
                    <ion-icon name="business-outline"></ion-icon>
                </div>
            </a>
        </div>
        <div class="card">
            <div>
                <div class="cardName">AIML DEPARTMENT</div>
            </div>
            <a href="aimlblock.html">
                <div class="iconBx">
                    <ion-icon name="business-outline"></ion-icon>
                </div>
            </a>
        </div>

    </div>
    <!-- =========== Scripts =========  -->
    <script src="main.js"></script>

    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>