<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Mech hall booking</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/mechblock.css')}}">
</head>

<body>
    <div class="details">
        <div class="recentOrders">
            <div class="cardHeader">
                <h2>MECHANICAL ENGINEERING DEPARTMENT</h2>
                <!--  <a href="#" class="btn">View All</a>-->
            </div>

            <table>
                <thead>
                    <tr>
                        <td>HALLS</td>
                        <td>HERE TO BOOK</td>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>SEMINAR HALL-01</td>
                        <td><a href="\Bookingform.html" style="text-decoration: none;"> CLICK TO BOOK</a></td>
                        <!--<td>---</td>
                                <td><span class="status delivered">Available</span></td>-->
                    </tr>
                    <tr>
                        <td>SEMINAR HALL-02</td>
                        <td><a href="\Bookingform.html" style="text-decoration: none;"> CLICK TO BOOK</a></td>
                        <!--<td>---</td>
                                <td><span class="status delivered">Available</span></td>-->
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>