<!DOCTYPE html>
<head>
    <title>Srinivasa Ramanujam Hall</title>
    <link href="{{url_for('static',filename='css/halls.css')}}" type="text/css" rel="stylesheet"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!-- heading -->
    <h2 class="heading">Srinivasa Ramanujam Hall</h2>
    <img src="static/css/it.jpg">
  <!-- cards -->
    <div class="container">

      <!-- single card -->
      <div class="card">
        <!-- card title -->
        <div class="card-title">
          <p>About</p>
          <button class="card-btn">
            <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>          </button>
        </div>
        <!-- card text -->
        <div class="card-text">
          <p>The Srinivasa Ramanujam Hall is located at Kongu engineering college, Perundurai, Erode in Tamil Nadu, India. It is situated in ground floor of IT Park and known as Seminar Hall-1. This hall is used for conducting guest lectures, admission purposes, etc.</p>
        </div>
      </div>
      <!-- end single card -->
      
            <!-- single card -->
      
      <!-- end single card -->
      
            <!-- single card -->
      <div class="card">
        <!-- card title -->
        <div class="card-title">
          <p>Capacity</p>
          <button class="card-btn">
            <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>          </button>
        </div>
        <!-- card text -->
        <div class="card-text">
          <p>The Srinivasa Ramanujam Hall have a massive capacity of 250 persons.</p>
        </div>
      </div>
      <!-- end single card -->
      
    </div>


    
    <script src="{{url_for('static',filename='./halls.js')}}" defer></script>
</body></html>